doctype html
html.no-js
  head
    title Chat
    link(rel="stylesheet", href="/css/site.css") 
  body
    include template/_header
    block content
    include template/_footer
  script(src="http://fb.me/react-0.12.2.js") 
  script(src="http://fb.me/JSXTransformer-0.12.2.js")
  script(src='http://code.jquery.com/jquery-1.7.1.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js')
  script(src="/socket.io/socket.io.js")
  script(type="text/jsx" src="js/mainFrame.js")
  script(type="javascript" src="js/script.js")
  
