html
  head
    link(rel='stylesheet', href='css/site.css')
  body
    // some dummy non-conforming quick dirty html code to test browser-sync. dont't judge me.
    b lorem
    |  ipsum upsum dumsum
// put this under /public/*
